on: 
    push:
        branches:
            - main
            - "release/**"
    pull_request:
        branches: 
            - main
            - "release/**"
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Run tests
              run: npm test